<div id="fh5co-wrapper">
<div id="fh5co-page">
<div class="header-top">
</div>
<header id="fh5co-header-section" class="sticky-banner">
  <div class="container">
    <div class="nav-header">
      <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
      <img src="assets/logo.png" class="fh5co-logo"/>
      <!-- START #fh5co-menu-wrap -->
      <nav id="fh5co-menu-wrap" role="navigation">
        <ul class="sf-menu" id="fh5co-primary-menu">
          <li class="active">
            <a href="#index.html">Início</a>
          </li>
          <li>
            <a href="#fh5co-feature-product" class="fh5co-sub-ddown">Conheça</a>
          </li>
          <li>
            <a href="#fh5co-portfolio" class="fh5co-sub-ddown">Galeria</a>
          </li>
          <li><a href="#fh5co-content-section">Depoimentos</a></li>
          <li><a href="#footer">Contato</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(/assets/cover_bg.png);">
    <div class="desc animate-box">
      <h2>Você já <strong>doou</strong>?</h2>
      <span class="subtitle">
        <i>O futuro do <strong>Arthur</strong> também depende de <strong>você</strong>.</i>
      </span>
      <span>

        <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
        <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post" target="_blank">
          <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
          <input type="hidden" name="currency" value="BRL" />
          <input type="hidden" name="receiverEmail" value="crechedasrosinhas@hotmail.com" />
          <input type="hidden" name="iot" value="button" />
          <button type="submit" class="btn btn-primary btn-lg btn-doe" alt="Pague com PagSeguro - é rápido, grátis e seguro!">Faça uma doação</a>
          <%#<input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/120x53-doar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" /%>
        </form>
        <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->

      </span>
    </div>
  </div>
</div>

<!-- end:header-top -->
<div id="fh5co-features">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <div class="feature-left">
          <span class="icon">
            <i class="fa fa-handshake-o"></i>
          </span>
          <div class="feature-copy">
            <h3>Faça parte</h3>
            <p>Abrace a causa da Creche das Rosinhas.</p>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="feature-left">
          <span class="icon">
            <i class="fa fa-hand-peace-o"></i>
          </span>
          <div class="feature-copy">
            <h3>Torne-se um voluntário</h3>
            <p>Contribua com o que você tem de mais importante, seu tempo.</p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="feature-left">
          <span class="icon">
            <i class="fa fa-hand-spock-o"></i>
          </span>
          <div class="feature-copy">
            <h3>Doe</h3>
            <p>Um livro, um mês de Internet ou cestas básicas. Você faz o que pode.</p>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
  
<div id="fh5co-feature-product" class="fh5co-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center heading-section">
        <h3 style="color: white !important;">Conheça a Creche das Rosinhas</h3>
        <p style="color: white !important;"> Nosso projeto, que começou em <strong>1984</strong>, por iniciativa do Grupo Espírita Francisco de Assis, já beneficiou centenas de crianças e adolescentes, com idade entre zero e 14 anos. Nossa missão é prestar <strong>assistência educacional, médica, odontológica, nutricional e social</strong>.</p>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-feature-unities">
  <div class="container">
    <div class="row vdivide">
      <div class="col-md-6 text-center animate-box column-one">
        <h3>Unidade I</h3>
        <p style="padding: 1em;">Recebemos crianças de 0 a 6 anos, que são acolhidas de 7h30 às 16h30, por uma equipe de 15 funcionários.</p>
      </div>
      <div class="col-md-6 text-center animate-box column-two">
        <h3>Unidade II - Projeto Soledade</h3>
        <p style="padding: 1em">Unidade 2 -  Oferecemos apoio educacional e profissionalizante a jovens de 7 a 14 anos, que são acolhidos de 7h30 às 16h30, por uma equipe de 4 funcionários.</p>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-feature-main-photos">
  <div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
        <h3>Nosso Mundinho</h3>
        <p>Nosso dia-a-dia engloba atividades lúdicas e educativas, oficinas e eventos beneficentes.</p>
      </div>
    </div>
</div>

<div id="fh5co-portfolio">
  <div class="container">
    <div class="row row-bottom-padded-md">
      <div class="col-md-12">
        <ul id="fh5co-portfolio-list">

          <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/assets/educacao.png);  "></li>
          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/assets/infantil.png); "></li>
          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/assets/brinquedo.png); "></li>
          <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/assets/infantil2.png); "></li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div id="fh5co-content-section" class="fh5co-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Depoimentos</h3>
        <p>Pessoas que fazem parte da nossa história!</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="fh5co-testimonial text-center animate-box">
          <figure>
            <%= image_tag("fatima.jpg", alt: "user") %>
          </figure>
          <blockquote>
            <p>&ldquo;Eu formei para trabalhar com criança, eu sinto bem. Penso em como será quando eu já não estiver aqui, porque isso me faz bem.&rdquo;</p>
          </blockquote>
          <span>Maria de Fátima de Freitas Ribeiro - há 29 anos trabalha na Creche das Rosinhas</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fh5co-testimonial text-center animate-box">
          <figure>
            <%= image_tag("gabriela.jpg", alt: "user") %>
          </figure>
          <blockquote>
            <p>&ldquo;Se não tivesse a Creche das Rosinhas, ia ser muito triste, ficar em casa à toa, sem ninguém para olhar ela. Eu fico tranquila porque a Fátima dá muita atenção aos meninos, agradeço muito a ela.&rdquo;</p>
          </blockquote>
          <span>Gabriela Gonçalves (29 anos) - mãe da Vitória (9 anos)</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fh5co-testimonial text-center animate-box">
          <figure>
            <%= image_tag("ana.jpg", alt: "user") %>
          </figure>
          <blockquote>
            <p>&ldquo;Ele não era muito de conversar e está mudando melhorando muito isso, socializando mais. É bom ter um projeto para ocupar a mente das crianças com outras atividades além da escola.&rdquo;</p>
          </blockquote>
          <span>Ana Paula Sousa (34 anos) - mãe do Kauan (9 anos)</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fh5co-content-section -->

<div id="fh5co-services-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Nossos projetos. Faça parte!</h3>
        <p>Nós somos a segunda casa de cada uma dessas crianças. Oferecemos esperança e apoio às famílias da região para que elas tenham um futuro honesto e fora da criminalidade.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-star"></i></span>
          <h3>Energia para Viver</h3>
          <p>Nas noites de quinta–feira e nas tardes de sábado distribuímos para os moradores do Aglomerado da Serra / Cafezal, frutas, verduras, legumes e uma nutritiva e balanceada sopa preparada pelos voluntários da Creche das Rosinhas.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="fa fa-comments-o"></i></span>
          <h3>Toda Quinta</h3>
          <p>Tudo começou no ano de 2009 com a proposta de que as crianças encenassem uma peça teatral. E é por meio de exercícios de interpretação, expressão corporal, técnica vocal, alongamentos, e várias oficinas, que as crianças se preparam para apresentar anualmente uma peça em um espaço cultural de Belo Horizonte e no próprio aglomerado.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="fa fa-book"></i></span>
          <h3>Semear Cultura</h3>
          <p>Esse projeto busca através do acompanhamento extra classe completar os ensinamentos e o aprimoramento estudantil de cada aluno.</p>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="fa fa-heart"></i></span>
          <h3>Geração do Amor</h3>
          <p>O projeto "Geração de Amor" tem como objetivo acompanhar o desenvolvimento das gestantes durante toda a gravidez, fornecendo auxílio psicológico, alimentar, pré-natal e vestuário.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="fa fa-font"></i></span>
          <h3>Nunca é Tarde</h3>
          <p>Esse projeto busca a alfabetização de jovens e adultos, que por motivos diversos, tiveram que se ausentar dos estudos regulares para se sustentarem.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="fa fa-music"></i></span>
          <h3>Música e Saber</h3>
          <p>Projeto que busca tirar jovens das ruas através do aperfeiçoamento escolar conciliado com o prazer da música e seus instrumentos.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- fh5co-blog-section -->
<footer>
  <div id="footer">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
        <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
        <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post" target="_blank">
          <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
          <input type="hidden" name="currency" value="BRL" />
          <input type="hidden" name="receiverEmail" value="crechedasrosinhas@hotmail.com" />
          <input type="hidden" name="iot" value="button" />
          <button type="submit" class="btn btn-primary btn-lg btn-footer" alt="Pague com PagSeguro - é rápido, grátis e seguro!">Faça uma doação</a>
          <%#<input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/120x53-doar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" /%>
        </form>
        <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 text-center animate-box column-one">
          <h3 style="color: white !important;">Unidade I</h3>
          <p style="padding: 0 1em; margin: 0 !important; opacity: 0.7;">Rua Pouso Alto, 215 – Serra, Belo Horizonte/MG</p>
          <p style="padding: 0 1em; opacity: 0.7;">(31) 3221-1611</p>
        </div>
        <div class="col-md-6 text-center animate-box column-two">
          <h3 style="color: white !important;">Unidade II - Projeto Soledade</h3>
          <p style="padding: 0 1em; margin: 0 !important; opacity: 0.7;">Rua Doutor Camilo, 498 – Serra – Belo Horizonte/MG </p>
          <p style="padding: 0 1em; opacity: 0.7;">(31) 3281-0944</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <p class="fh5co-social-icons">
            <a href="https://www.facebook.com/crechedasrosinhas/" target="_blank"><i class="icon-facebook2"></i></a></a>
            <a href="https://www.instagram.com/crechedasrosinhas/" target="_blank"><i class="icon-instagram2"></i></a></a>
          </p>
          <p>Copyright 2017 Creche das Rosinhas. Todos os Direitos Reservados.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
